{% extends 'base_diary.html' %}

{% block main_content %}
<div class="container">
  <form action="" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlTextarea1">日付</label><br>
      {{ form.diary_date }}
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">タイトル</label><br>
      <input type="text" class="form-control" id="exampleFormControlInput1" name='title' placeholder='入力必須です'>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">日記</label><br>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name='jp_text' placeholder="入力必須です"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">日記（英語）</label><br>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name='en_text' placeholder="入力必須です"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">作成日</label><br>
        {{ form.created_at }}
    </div>
    <input type="submit" value="作成する" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">
    <a href="{% url 'blog:diary_index' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">戻る</a>
  </form>
</div>
{% endblock main_content %}