{% extends 'base_diary.html' %}

{% block main_content %}
<div class="container">
  <div class="card mb-3">
    <h2 class="card-header">{{ object.diary_date|date:"Y/m/d" }}：{{ object.title }}</h2>
    <class="card-body">
      <table>
        <tbody>
          <tr>
            {% comment %} <th scope="row">登録日</th>
            <td>：{{ object.created_at|date:"Y/m/d H:i"}}</td> {% endcomment %}
          </tr>
        </tbody>
      </table>
      <div class="alert alert-info" role="alert">
        {{ object.jp_text | linebreaksbr | urlize}}
      </div>
      <div class="alert alert-success" role="alert">
        {{ object.en_text | linebreaksbr | urlize}}
      </div>
    </div>
  </div>
</div>

  <div class="container btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-success" href="{% url 'blog:diary_update' object.pk%}">編集する</a>
      <a class="btn btn-dark" href="{% url 'blog:diary_index' %}">戻る</a>
    </div>
    <div class="btn-group ml-auto">
      <a class="btn btn-danger" href="{% url 'blog:diary_delete' object.pk%}">削除する</a>
    </div>
  </div>


{% endblock main_content %}