{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<!-- For Markdown -->
  <link rel="stylesheet" href="{% static 'css/monokai.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" />
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-core.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/line-numbers/prism-line-numbers.min.js"></script>
  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.js"></script>
  <!--  <script id="MathJax-script" async src="{% static 'scripts/tex-mml-chtml.js' %}"></script>-->

<style type="text/css">
.jumbotron { background:url({% static 'images/home-img3.jpg' %})
             center no-repeat;
             background-size: cover;
             }
</style>
{% endblock customcss %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">自己紹介</h1>
      <p class="lead">作成者について</p>
    </div>
  </div>
{% endblock header %}

{% block main_content %}
  <div class="container">
  {% block content %}
    {{profile.convert_bio_markdown_to_html|safe}}
    {{profile.convert_hobby_markdown_to_html|safe}}
    <hr>
    {{profile.convert_work_experience_markdown_to_html|safe}}
    <hr>
    {{profile.convert_qualifications_markdown_to_html|safe}}
  {% endblock content %}
  </div>
{% endblock main_content%}


