{% extends 'base_blog_mark.html' %}

{% block content %}
  {% if user.is_superuser %}
  <a href="{% url 'blog:create_mark' %}" class="btn btn-success">新規作成</a>
  <br><br>
  {% endif %}
  <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'blog:index_mark' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
  {% for post in post_list %}
    {% if post.status == 2 %}
      <div class="card">
        <div class="card-header bg-dark text-white">
          {{ post.created_at|date:"Y/m/d"}} : <span class="badge bg-secondary text-light">{{ post.category }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{ post.content| truncatechars:30 }}</p>
          <a href="{% url 'blog:detail_mark' post.pk %}" class="btn btn-dark" class="btn btn-dark">詳細</a>
        </div>
      </div>
      <br>
    {% elif post.status == 1 and user.is_superuser %}
      <div class="card">
        <div class="card-header bg-dark text-white">
          {{ post.created_at|date:"Y/m/d"}} : <span class="badge bg-secondary text-light">{{ post.category }}</span>
          <span class="badge bg-danger text-light">非公開</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{ post.content| truncatechars:30 }}</p>
          <a href="{% url 'blog:detail_mark' post.pk %}" class="btn btn-dark" class="btn btn-dark">詳細</a>
        </div>
      </div>
      <br>
    {% endif %}
  {% endfor %}
  {% include 'pages/page.html' %}

{% endblock %}