{% extends 'base_blog_mark.html' %}

{% block content %}
  {% if user.is_superuser %}
  <a href="{% url 'blog:create_mark' %}" class="btn btn-success">新規作成</a>
  <br><br>
  {% endif %}
  <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'blog:index_mark' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
  <table class="table table-sm ">
    <thead class="thead-white">
      <tr>
        <th scope="col"></th>
        <th scope="col">登録日</th>
        <th scope="col">カテゴリ</th>
        <th scope="col">タイトル</th>
      </tr>
    </thead>
    <tbody>
      {% for post in post_list %}
        {% if post.status == 2 %}
        <tr>
          <th scope="row"><a href="{% url 'blog:detail_mark' post.pk %}" class="btn btn-dark">詳細</a></th>
          <td>{{ post.created_at|date:"Y/m/d H:i"}}</td>
          <td>{{ post.category }}</td>
          <td>{{ post.title| truncatechars:20 }}</td>
        </tr>
        {% elif post.status == 1 and user.is_superuser %}
        <tr class="alert alert-success" role="alert">
          <th scope="row"><a href="{% url 'blog:detail_mark' post.pk %}" class="btn btn-dark">詳細</a></th>
          <td>{{ post.created_at|date:"Y/m/d H:i"}}</td>
          <td>{{ post.category }}</td>
          <td>{{ post.title| truncatechars:20 }}</td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% include 'pages/page.html' %}

{% endblock %}