{% load static %}

<!doctype html>
<html lang="ja">
  <head>
    <title>My Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--  carousel.css  -->
    <link href="{% static 'css/card_style.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/carousel.css' %}" rel="stylesheet">

    {% block customcss %}
    {% endblock customcss %}
  </head>

  <body>
  <header>
    {% block navbar %}
    {% include 'snippets/navbar.html' %}
    {% endblock navbar %}

    {% block header %}
    {% endblock header %}
  </header>

  <main>
    {% block main_content %}
    {% endblock main_content%}
  </main>

  <footer>
    {% block footer %}
    {% include 'snippets/footer.html' %}
    {% endblock footer%}
  </footer>

  <!-- Optional JavaScript -->
  <script src="{% static 'bootstrap/assets/js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="{% static 'bootstrap/assets/js/vendor/holder.min.js' %}"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
